# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../webclient\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Арман\IdeaProjects\WORK\sortByLevels\learnProjects\webclient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
